/* Tab styling variants */
.tab-active {
    background-color: hsl(var(--card));
    color: hsl(var(--foreground));
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    border-width: 1px;
    border-color: hsl(var(--border));
}

.tab-inactive {
    color: hsl(var(--muted-foreground));
}

.tab-inactive:hover {
    background-color: hsl(var(--card) / 0.5);
    color: hsl(var(--foreground));
}